# Heroes of Pymoli

In [103]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("C:\\Users\\Gael R. Gatera\\Documents\\Data Science Boot Camp\\Homeworks\\Hw4 Pandas\\purchase_data.csv")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

* display total number of players

In [73]:
players_total = purchase_data["SN"].nunique()
players_total_dict={"Total Players":[players_total]}
players_total_df = pd.DataFrame.from_dict(players_total_dict, orient='columns')
players_total_df

   Total Players
0            576

# Toal Purchasing analysis

The purchasing analysis information is created from required elements of the main purchase_data then a dictionary that includes all the variables with respective column names is created

* Number of unique items

In [74]:
nbr_unique_items = purchase_data["Item ID"].nunique()

* Average purchase price

In [75]:
average_purch_price = purchase_data["Price"].mean()

* Total number of purchases

In [76]:
number_total_purch = len(purchase_data.index)

* Total revenue

In [77]:
revenue_total = purchase_data["Price"].sum()

New dataframe in order to summarize

In [78]:
purch_total_df = pd.DataFrame.from_dict({"Number of unique items":[nbr_unique_items],"Average Price":[avg_purch_price],"Number of Purchases":[total_nbr_purch],"Total Revenue":[total_revenue]}, orient='columns')

appropriate formatting

In [80]:
purch_total_df["Total Revenue"] = purch_total_df["Total Revenue"].map("$ {:,.2f}".format)
purch_total_df["Average Price"] = purch_total_df["Average Price"].map("$ {:,.2f}".format)
purch_total_df

   Number of unique items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780    $ 2,379.77

# Gender demographics

In order to classify the demographics information by gender... a new dataframe is created by filtering the main dataframe "purchase_data" by dropping duplicates from the SN column, and then grouping the Gender column.

In [84]:
data_gender_df = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
gender_group = data_gender_df.groupby(['Gender'])

A new dataframe called "gender_df" is created from the previously cleaned dataframe that contains the percentage and count for each gender.

In [85]:
gender_df = pd.DataFrame({"Total Count":gender_demo_grp["Gender"].count(),"Percentage of players":gender_demo_grp["Gender"].count()/total_players*100})
gender_df["Percentage of players"] = gender_df["Percentage of players"].map("{:.2f}%".format)
gender_df.head()

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

* Percentage and Count of Other / Non-Disclosed

# Purchasing Analysis by Gender Dataframe

Getting the purchasing information by grouping the "data_gender_df" dataframe by the Gender column

In [91]:
purch_df = pd.DataFrame(purchase_data)
gender_purch = purch_df.groupby(['Gender'])

From there a new dataframe that contains the required columns calculated and formatted

In [92]:
gen_purch_df = pd.DataFrame({"Purchase Count":gender_purch["Price"].count(), "Average Purchase Price":gender_purch["Price"].mean(),"Total Purchase Value":gender_purch["Price"].sum(), "Normalized Totals":gender_purch["Price"].sum()/gender_df["Total Count"]})
gen_purch_df["Average Purchase Price"] = gen_purch_df["Average Purchase Price"].map("${:.2f}".format)
gen_purch_df["Total Purchase Value"] = gen_purch_df["Total Purchase Value"].map("${:,.2f}".format)
gen_purch_df["Normalized Totals"] = gen_purch_df["Normalized Totals"].map("${:,.2f}".format)
gen_purch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Purchasing Analysis by Age

This new dataframe is created by using bins to group all players by 4 year range (not including players less than 10 years old).

In [95]:
age_df = pd.DataFrame(purchase_data)
group_names = ['<10', '10-14', '15-18', '19-22', '23-26', '26-29', '30-34', '35-38', '39-42', '>42']
bins = [0, 9, 14, 18, 22, 26, 29, 34, 38, 42, 80]
age_demo_grp = age_df.groupby(pd.cut(age_df["Age"], bins, labels=group_names))

Create a new dataframe that includes required columns with correct calculations and formatting

In [96]:
age_demo_df = pd.DataFrame({"Purchase Count":age_demo_grp["Price"].count(), "Average Purchase Price":age_demo_grp["Price"].mean(),"Total Purchase Value":age_demo_grp["Price"].sum(),"Normalized Totals":age_demo_grp["Price"].sum()/age_demo_grp["SN"].nunique()})
age_demo_df["Average Purchase Price"] = age_demo_df["Average Purchase Price"].map("${:.2f}".format)
age_demo_df["Total Purchase Value"] = age_demo_df["Total Purchase Value"].map("${:,.2f}".format)
age_demo_df["Normalized Totals"] = age_demo_df["Normalized Totals"].map("${:,.2f}".format)
age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-18,113,$3.03,$342.91,$3.81
19-22,254,$3.04,$771.89,$4.34
23-26,207,$3.06,$634.24,$4.20
26-29,28,$2.53,$70.91,$3.08
30-34,73,$2.93,$214.00,$4.12
35-38,35,$3.55,$124.35,$4.97
39-42,15,$3.37,$50.50,$3.61
>42,4,$2.77,$11.06,$2.77

# Top spenders Dataframe

The main dataframe "purchase_data" is grouped by SN column

In [98]:
#Top Spenders
spenders_df = pd.DataFrame(purchase_data)
top_spnd_grp = spenders_df.groupby(['SN'])

columns, Purchase Count, Average Purchase Price, Total Purchase Value are created and formatted:

In [99]:
top_spnd_df = pd.DataFrame({"Purchase Count":top_spnd_grp["Price"].count(), "Average Purchase Price":top_spnd_grp["Price"].mean(),"Total Purchase Value":top_spnd_grp["Price"].sum()})
top_spnd_df = top_spnd_df.sort_values("Total Purchase Value", ascending=False)
top_spnd_df["Average Purchase Price"] = top_spnd_df["Average Purchase Price"].map("${:.2f}".format)
top_spnd_df["Total Purchase Value"] = top_spnd_df["Total Purchase Value"].map("${:,.2f}".format)
top_spnd_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items DataFrame

To obtain the most popular items, the main dataframe "purchase_data" will have to be grouped by Item ID & Item Name columns.

In [101]:
#Most Popular Items
popit_df = pd.DataFrame(purchase_data)
popitems_grp = popit_df.groupby(['Item ID','Item Name'])
popitems_df = pd.DataFrame({"Purchase Count":popitems_grp["Price"].count(), "Item Price":popitems_grp["Price"].mean(),"Total Purchase Value":popitems_grp["Price"].sum()})
popitems_df = popitems_df.sort_values("Purchase Count", ascending=False)
popitems_df["Item Price"] = popitems_df["Item Price"].map("${:.2f}".format)
popitems_df["Total Purchase Value"] = popitems_df["Total Purchase Value"].map("${:,.2f}".format)
popitems_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

# Most Profitable items

To obtain the most popular items, the main dataframe "purchase_data" will have to be grouped by the ItemID, Item Name columns and create a new dataframe that includes all required columns and sort this new dataframe by the Total Purchase Value column.

In [102]:
#Most Profitable Items
profit_df = pd.DataFrame(purchase_data)
profit_grp = profit_df.groupby(['Item ID','Item Name'])
profit_df = pd.DataFrame({"Purchase Count":profit_grp["Price"].count(), "Item Price":profit_grp["Price"].mean(),"Total Purchase Value":profit_grp["Price"].sum()})
profit_df = profit_df.sort_values("Total Purchase Value", ascending=False)
profit_df["Item Price"] = profit_df["Item Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:,.2f}".format)
profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80